---
import dayjs from "dayjs"

import Text from "../components/text.astro"
import { AnimationType, HoverType } from "./lib";
import Base from "../components/base.astro"

export interface Props {
  title: string
  description: string
  date: number
  isnews: boolean
  rewind?: boolean
}
const {title, description, date, isnews, rewind = true} = Astro.props;
if (import.meta.env.PROD && date === 0) {throw Error("It is just draft.")}
---

<Base rewind={rewind}>
  <Fragment name="head">
    <title>{title}</title>
  </Fragment>
  <div class="mx-2 md:mx-[20%] my-4">
    <div class="flex flex-col text-black border-b-2 border-solid border-black">
      <Text animationType={AnimationType.random} hover={HoverType.show}>
        <h1 class="text-4xl md:text-5xl">{title}</h1>
      </Text>
      <Text animationType={AnimationType.random} hover={HoverType.show}>
        <p class="text-gray text-3xl md:text-4xl">{description}</p>
      </Text>
      <Text animationType={AnimationType.random} hover={HoverType.reanimate}>
        <p class="text-gray text-2xl md:text-3xl">{dayjs.unix(date).toString().replace('GMT', 'UTC')}</p>
      </Text>
      {isnews && <p class="text-gray text-xl md:text-2xl">Summarized with Jessica, based on gpt4o-mini</p>}
    </div>
    <slot />
  </div>
  <style is:global>
    h1 {
      @apply text-3xl md:text-4xl;
    }
    h2 {
      @apply text-2xl md:text-3xl;
    }
    h3 {
      @apply text-xl md:text-2xl;
    }
    * {
      @apply md:text-xl;
    }
    a {
      @apply text-blue;
    }
    ul {
      @apply list-disc pl-6 md:pl-0;
    }
    ol {
      @apply list-decimal pl-6 md:pl-0;
    }
    li > ul {
      @apply pl-4;
    }
    li > ol {
      @apply pl-4;
    }
    blockquote {
      @apply border-l-4 pl-2 border-solid border-gray;
    }
    strong {
      @apply font-bold;
    }
    code {
      @apply bg-gray text-white;
    }
  </style>
</Base>
