---
import Text from "../components/text.astro"
import { AnimationType, HoverType, DataType } from "./lib";

export interface Props {
  title: string
  description: string
  path: number,
  type: DataType,
  lang?: string
}
const {title, description, path, type, lang = "en"} = Astro.props;
---

<div class="flex flex-col text-black border-b-2 border-solid border-black w-fit h-fit">
  <Text animationType={AnimationType.random} hover={HoverType.show}><p class="text-3xl sm:text-4xl md:text-5xl">{title}</p></Text>
  <div class="flex flex-row justify-between w-full h-fit gap-x-2">
    <Text animationType={AnimationType.random} hover={HoverType.show} class:list="break-words"><p class="text-gray text-2xl sm:text-3xl md:text-4xl">{description}</p></Text>
    <a href={type==DataType.news?`/data/${type}/${path}`:`/${lang}/${type}/${path}`} class="whitespace-nowrap"><p class="text-2xl sm:text-3xl xl:text-4xl text-blue">{lang=='en'?'Read post':'글 보기'}</p></a>
  </div>
</div>
