---
import Text from "../components/text.astro"
import { AnimationType, HoverType, DataType } from "./lib";

export interface Props {
  title: string
  description: string
  path: number,
  type: DataType
}
const {title, description, path, type} = Astro.props;
---

<a class="flex flex-col text-black border-b-2 border-solid border-black w-fit h-fit" href=`/data/${type}/${path}`>
  <Text initialTime={0} animationType={AnimationType.random} hover={HoverType.show}><p class="text-4xl md:text-5xl">{title}</p></Text>
  <Text initialTime={0} animationType={AnimationType.random} hover={HoverType.show}><p class="text-gray text-3xl md:text-4xl">{description}</p></Text>
</a>
