---
import Base from "../../../components/base.astro"
import Modal from "../../../components/modal.astro"
import { type Post, f } from "./example"

import { nullValue } from "@misile/satellite/errors"
import { nullVerify } from "@misile/satellite"

let post: Post | null = null;

try {
  const slug = nullVerify(Astro.params.slug)
  post = nullVerify(f[slug])
}
catch (e) {
  if (e instanceof nullValue) {
    return new Response("Not found", { status: 404 })
  } else {
    throw e
  }
}
---

<Base>
  <Fragment slot="head">
    <title>{post.title}</title>
    <script>
      import { queryAll, queryId, nullVerify } from "@misile/satellite"
      import { atom } from "nanostores"

      const opened = atom(false)
      const email = atom("")

      console.log(queryAll("#name"))

      for (let i of queryAll("#name")) {
        i.addEventListener('click', ()=>{
          email.set(nullVerify(i.dataset.email))
          opened.set(true)
        })
      }
      for (let i of queryAll("#signature")) {
        i.addEventListener('click', ()=>{
          email.set(nullVerify(i.dataset.email))
          opened.set(true)
        })
      }

      const m = queryId("modal") as HTMLDialogElement;
      const n = queryId("modal-name")
      const data: any[] = JSON.parse(nullVerify(n.dataset.data))
      const cl = m.classList
      opened.subscribe((x)=>{
        if (x) {
          m.showModal()
          cl.add('w-1/2')
          cl.add('h-1/2')
        } else {
          m.close()
          cl.remove('w-1/2')
          cl.remove('h-1/2')
        }
      })
      email.subscribe((x)=>{
        let d: Object | undefined = undefined;
        for (let i of data) {
          if (x === i['email']) {
            d = i
            return
          }
        }
        if (d === undefined) {return;}
        console.log(d)
       })

      queryId("close").addEventListener('click', ()=>{
        opened.set(false)
      })
    </script>
  </Fragment>
  <div class="w-full h-full flex flex-col items-center justify-center">
    <div class="w-full h-full flex flex-row font-bold text-7xl justify-center py-[6%]">
      <Modal id="modal" class:list={["w-1/2", "h-1/2", "fixed", "bg-white"]}>
        <div id="modal-name" data-data={JSON.stringify(post.signers)}>
          Java
        </div>
        <button id="close">Close</button>
      </Modal>
      <div class="flex flex-col">
        {post.signers.map((signer) => {
          return <span class="font-bold inline-block cursor-pointer" id="name" data-name={signer.name}>{signer.name}</span>
        })}
      </div>
      <div class="flex flex-col">
        {post.signers.map((signer) => {
          return <img src={signer.signature} data-name={signer.name} id="signature" alt="" class={`h-[1em] cursor-pointer ${signer.signature!==undefined?"":"w-0"}`} />
        })}
      </div>
    </div>
	</div>
</Base>
