---
import Default from "../components/default.astro"
---

{/*<option value={i.pubkey}>{i.name}</option>*/}

<Default title="/gpg">
  <script>
    import { setCookie, getCookie, getUrls } from "../config";
    import { queryId } from "@misile/satellite";

    const { schale_url, host, backendurl } = getUrls();
    interface KeyStore {
      pubkey: string;
      name: string;
    }
    const jwt = new URLSearchParams(window.location.search).get("jwt");
    if (jwt !== null) {
      setCookie("jwt", jwt, 21);
    }
    if (getCookie("jwt") === null) {
      window.location.href = `${schale_url}?redirect=${host}/noa/f/gpg`;
    }
    let r = await fetch(`${backendurl}/`, {
      headers: {
        jwt: getCookie('jwt') || ""
      }
    })
    if (r.status === 400 || r.status === 403) {
      window.location.href = `${schale_url}?redirect=${host}/noa/f/gpg`;
    }
    let keys: KeyStore[] = await r.json();
    const gpgs = queryId("gpgs");
    for (const e of keys) {
      const option = document.createElement("option");
      option.innerText = e.name;
      option.value = e.pubkey;
      gpgs.appendChild(option);
    }
    gpgs.addEventListener("selectionchange", async (v)=>{
      await navigator.clipboard.writeText((v.target as HTMLSelectElement).value);
      alert("copied");
    })
  </script>
  <div class="w-screen h-screen bg-ctp-crust flex justify-center items-center">
    <select class="w-fit h-fit px-2 border-solid border-ctp-overlay1 border-2 bg-ctp-overlay0" id="gpgs" />
  </div>
</Default>
